* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/******** HEADER ********/

.nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 5rem;
    align-items: center;
    height: 3rem;
    background-color: rgb(73, 46, 26);
}

.nav>.nav-header>.nav-title {
    color: white;
}

.nav>.nav-btn, .nav>#nav-check {
    display: none;
}

.nav-links {
    display: inline;
    float: right;
}

.nav-links>a {
    display: inline-block;
    margin: 1rem;
    color: white;
    padding: 0.5rem;
}

.nav-links>a:hover {
    background-color: rgba(0, 0, 0, 0.062);
    border: solid 1px transparent;
    border-radius: 5px;
}

/******** MAIN ********/

#formação,
#sobre,
#redes{
    display: flex;
    align-items: center;
    padding: 3rem 5rem;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /*talvez nao use, apenas para fazer a quebra no mobile*/
}

#formação {
    background-color: rgb(137, 92, 58);
}

.tecnologias {
    width: 15rem;
    height: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 5rem;
    /* background-color: blue; */
}

.tecnologias p{
    padding-top: 2rem;
}

.tec{
    /* background-color: red; da para mudar a cor do fundo */
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    position: relative;
    animation-name: balltec;
    animation-duration: 1s;
    animation-delay: 3s;
    animation-fill-mode: both;
}

@keyframes balltec{
    from{
        left: 2rem;
        top: 0px; 
    }
    
    to{
    left: 2rem;
    top: -2rem; 
    visibility: visible;
    }
}

.ball{
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    visibility: hidden;
    position: relative;
    align-items: center;
    justify-content: center;
}

.ball p{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0.9rem;
}

.html{
    animation-name: ballhtml;
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes ballhtml{
    from{
        opacity: 0;
        left: 0rem;
        bottom: 0rem; 
    }
    
    to{
    left: -2rem;
    bottom: -4.5rem; 
    visibility: visible;
    }
}

.css{
    animation-name: ballcss;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: both;
}

@keyframes ballcss{
    from{
        opacity: 0;
        left: 0rem;
        bottom: 0rem; 
    }
    
    to{
    left: 0rem;
    bottom: -4.5rem; 
    visibility: visible;
    }
}

.javaSc{
    animation-name: balljs;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-fill-mode: both;
}

@keyframes balljs{
    from{
        opacity: 0;
        left: 0px;
        bottom: 0px; 
    }
    
    to{
    left: 2rem;
    bottom: -4.5rem; 
    visibility: visible;
    }
}

.informações,
.sobre-text {
    width: 25rem;
    text-align: justify;
    padding: 0 1rem;
}

#sobre {
    background-color: rgb(141, 88, 55);
}

.imagem {
    width: 15rem;
    height: 15rem;
    margin: 1rem 0;
}


#redes {
    background-color: rgb(137, 92, 58);
}

#redes a,#redes p{
    display: flex;
    margin: 1rem;
    align-items: center;
}



#redes img{
    padding-right: 0.5rem;
}

hr{
    color: rgb(83, 80, 255);
}

/******** FOOTER ********/

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    padding: 1rem;
}

/******** media query ********/

@media (max-width: 800px) {
    .nav>.nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
    }

    .nav-btn>label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }

    label:hover,
    #nav-check:checked~label {
        background-color: rgba(0, 0, 0, 0.3);
    }

    span {
        display: block;
        width: 25px;
        height: 10px;
        border-bottom: 2px solid rgb(2, 2, 2);
    }

    .nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #333;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 70px;
        left: 0px;
        z-index: 10;
    }

    a {
        width: 50%;
    }

    #nav-check:not(:checked)~.nav-links {
        height: 0;
    }

    #nav-check:checked~.nav-links {
        height: 100%;
        overflow-y: auto;
    }
}
