* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: var(--color);
}

:root {
  --background-color: rgba(0, 0, 0, 0.8);
  --color: white;
}

body {
  background: var(--background-color);
}

/******** HEADER ********/

.nav {
  display: flex;
  position: fixed;
  justify-content: space-between;
  padding: 1rem 5rem;
  align-items: center;
  height: 3rem;
  width: 90%;
  background-color: var(--background-color);
}

.nav > .nav-btn,
.nav > #nav-check {
  display: none;
}

.nav-links {
  display: inline;
  float: right;
}

.nav-links > a {
  display: inline-block;
  margin: 1rem;
  padding: 0.5rem;
}

.nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.2);
  border: solid 1px transparent;
  border-radius: 5px;
  font-size: 1.05em;
}

/******** MAIN ********/

.init-hidden {
  opacity: 0;
  transition: opacity 1.5s linear;
}

.init-hidden-off {
  opacity: 1;
}

#formação,
#sobre,
#redes {
  display: flex;
  align-items: center;
  margin: 8rem 5rem;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#formação{
  margin-top: 13rem;
}

.tecnologias {
  width: 15rem;
  height: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 5rem;
  z-index: -1;
}

.tecnologias p {
  padding-top: 2rem;
}

.tec {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  position: relative;
  animation-name: balltec;
  animation-duration: 1s;
  animation-delay: 3s;
  animation-fill-mode: both;
}

@keyframes balltec {
  from {
    left: 2rem;
    top: 0px;
  }

  to {
    left: 2rem;
    top: -2rem;
    visibility: visible;
  }
}

.ball {
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  visibility: hidden;
  position: relative;
  align-items: center;
  justify-content: center;
}

.ball p {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0.9rem;
}

.html {
  animation-name: ballhtml;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes ballhtml {
  from {
    opacity: 0;
    left: 0rem;
    bottom: 0rem;
  }

  to {
    left: -2rem;
    bottom: -4.5rem;
    visibility: visible;
  }
}

.css {
  animation-name: ballcss;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: both;
}

@keyframes ballcss {
  from {
    opacity: 0;
    left: 0rem;
    bottom: 0rem;
  }

  to {
    left: 0rem;
    bottom: -4.5rem;
    visibility: visible;
  }
}

.javaSc {
  animation-name: balljs;
  animation-duration: 1s;
  animation-delay: 2s;
  animation-fill-mode: both;
}

@keyframes balljs {
  from {
    opacity: 0;
    left: 0px;
    bottom: 0px;
  }

  to {
    left: 2rem;
    bottom: -4.5rem;
    visibility: visible;
  }
}

.informações,
.informações span,
.sobre-text {
  width: 25rem;
  text-align: justify;
  padding: 0 1rem;
  text-indent: 1.2em;
}

.imagem {
  height: 15rem;
  margin: 1rem 0;
}

#redes a,
#redes p {
  display: flex;
  margin: 1rem;
  align-items: center;
}

#redes img {
  padding-right: 0.5rem;
}

/******** FOOTER ********/

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
  padding: 1rem;
}

/******** media query ********/

@media (max-width: 800px) {
  .nav > .nav-btn {
    display: inline-block;
    position: fixed;
    right: 0px;
    top: 0px;
  }

  .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }

  .nav-btn span {
    display: block;
    width: 25px;
    height: 10px;
    border-bottom: 2px solid white;
  }

  .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 70px;
    left: 0px;
    z-index: 50;
    padding-left: 4rem;
  }

  a {
    width: 50%;
  }

  #nav-check:not(:checked) ~ .nav-links {
    height: 0;
  }

  #nav-check:checked ~ .nav-links {
    overflow-y: auto;
  }


#formação{
  margin-top: 9rem;
}

.sobre-text{
  padding-top: 2rem;

}
}


@media (max-width: 500px) {
  .nav{
    padding: 1rem 2rem;
  }

  .nav-links{
    padding-left: 0.8rem;
  }

  #formação,
  #sobre,
  #redes{
    margin: 3rem 0.5rem;
  }

  #formação{
    margin-top: 10rem;
  }


}